@charset "UTF-8";
@import "mysite.css";

#gallery			{ margin:20px auto;	width:540px;}

#upload-image {
	display: block;
	float: right;
	border: 1px solid #2F88D2;
	padding: 8px 5px; /* 16px */
	font-size: 0.75em; /* 12px */
	color: #000;
	font-weight: 700;
	text-decoration-line: none;
	background-color: #E8ECF6;
}

#gallery #title-image {
	float:left;
	width:28px;
	height:28px;	
	background-image: url("../images/gallery.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 28px;
}

#gallery h1	{
	float:left;
	font-size:1.75em;
}

#gallery ul			{ 
	clear:both;	
	position: relative;
	left: 2.5%;
	width: 100%; 
	padding-top: 10px;
}

#gallery ul li {
	position:relative;
	float:left; 
	overflow-y:hidden;
	padding-bottom: 10px;
	padding-right: 10px;
	
}

#gallery ul li a.image {
	display:block;
	outline: 2px solid #999;	
	border: 2px solid #bbb;
	width:114px;
	height:114px;
	font-size:0px;
	background-size: 114px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-color:#ccc;
	margin: 2px;
}

#gallery ul li a.del-button {
	display:none;
	position:absolute;
	right:14px;
	top:4px;
	width:15px;
	height:15px;
	font-size:0px;
	background-size: 15px;
	background-repeat: no-repeat;
	background-image: url("../images/delete-imge.png");
}

#gallery ul li:hover a.del-button {
	display:block;
}

/* 이미지 업로드 팝업 레이어 */ 
#dialog-upload-form 					{ text-align: left; }
#dialog-upload-form p					{ padding:20px 0 5px 0; font-weight: bold; font-size:1.1em }
#dialog-upload-form label, 
#dialog-upload-form input				{ display:block; }
#dialog-upload-form label				{ font-weight:bold; margin-top:10px; }
#dialog-upload-form input				{ outline:none; margin-top:5px; }
#dialog-upload-form input[type='text']	{ padding: 5px; border:2px solid #A9A9A9; width:260px; }

